<h1 class="middle">Italaink</h1>
<div class="itallap">
  <div class="sorting-options">
    <label for="sortDirection">Rendezés iránya:</label>
    <select id="sortDirection" [(ngModel)]="sortDirection">
      <option value="asc">Növekvő</option>
      <option value="desc">Csökkenő</option>
    </select>

    <label for="limit">Limit:</label>
    <select id="limit" [(ngModel)]="limit">
      <option value="1">1</option>
      <option value="10">10</option>
    </select>

    <button mat-button (click)="sorting()">Rendezés</button>
  </div>
  <mat-card class="card" *ngFor="let ital of sortedItalok;">
    <mat-card-title>{{ital.nev}}</mat-card-title>
    <mat-card-content>
      <div class="ital-info">
        <div class="ital-details">
          <p class="ital-ar">{{ital.ar}} Ft</p>
          <p>Értékelés 5/{{ital.ertekeles}}</p>
          <p class="ital-description">{{ital.leiras}}</p>
        </div>
        <div class="ital-image-container">
          <img [src]="ital.imageUrl" alt="Ital kép" class="ital-img">
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="btn" (click)="addToCart(ital)">Kosárba</button>
    </mat-card-actions>
  </mat-card>
</div>

