<div class="italbolt-info">
  <h1 class="italbolt-name">Lötyintsd fel! Italbolt</h1>
  <p class="description">A Lötyintsd fel! Italbolt igazi frissítő különlegességekkel szolgál a rendelő vendégeknek a kibertérben. Új ötlete van? EGYEDI
    menüpontunkkal ÖN IS kitalálhat italokat. Próbálja ki most!
  </p>
  <div class="contact-info">
    <p><strong>Cím:</strong> 1234 Drink Street, Schweppes város</p>
    <p><strong>Telefon:</strong> +36 1 234 5678</p>
    <p><strong>Email:</strong> info[kukac]lotyintsd-ital.org</p>
  </div>
</div>

