div, .login_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

div {
  background-color: lightgray;
}

.main_component, .login_component {
  height: 100vh;
  align-items: center;
}

span {
  padding: 5px;
}

mat-form-field {
  margin: 20px auto;
  font-size: 15px;
  width: 75%;
  max-width: 500px;
}

button {
  font-size: 25px;
  padding: 15px;
}
